* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: auto light dark;
  color: var(--theme-el-color);
  --theme-color: #646cff;
  --theme-dark-color: #5258d0;
  --theme-secondary-color: rgb(255 100 100);
  --theme-tetriary-color: rgb(255 215 0);
  --theme-el-color: #111;
  --theme-bg-color: #fafafa;
  --theme-light-color-const: #fafafa;
  --theme-dark-color-const: #111;

  --debug-bg: var(--theme-secondary-color);
  --theme-positive-color: rgb(0 200 0);
  --theme-negative-color: red;
  
  --light-theme-invert-bg-10-color: #f9f9f9; /* 10(%) */
  --light-theme-invert-bg-20-color: #f2f2f2;
  --bg-lightgray-30: rgba(211 211 211 .3);

  --blur-int: 10px;
  --disabled-btn-filter: brightness(150%);  
  --icon-button: invert(0%);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --theme-color: #a3aaff;  */
    --theme-el-color: #fafafa;
    --theme-bg-color: #111;
    --light-theme-invert-bg-10-color: #222;
    --light-theme-invert-bg-20-color: #333;
    
    --disabled-btn-filter: invert(10%) brightness(70%);
    --icon-button: invert(100%);
  }
}

:root[data-theme="dark"] {
  --theme-el-color: #fafafa;
  --theme-bg-color: #111;
  --light-theme-invert-bg-10-color: #222;
  --light-theme-invert-bg-20-color: #333;
  --disabled-btn-filter: invert(10%) brightness(70%);
  --icon-button: invert(100%);
}

:root[data-theme="light"] {
  --theme-el-color: #111;
  --theme-bg-color: #fafafa;
  --light-theme-invert-bg-10-color: #f9f9f9;
  --light-theme-invert-bg-20-color: #f2f2f2;
  --disabled-btn-filter: brightness(150%);
  --icon-button: invert(0%);
}

#root {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

canvas {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

input,
label,
button,
div,
span {
  font-size: 1em;
  font-weight: 500;
}

.single-cell-with-boundaries {
  --size: 3.6vh;
}

.setting-ui {
  --int: 2px;
  --pos-x: 0;
  --pos-y: 0;
  --width: 0;
  --pad: 0.4vh;
  --brr: 1.2vh;
  box-sizing: border-box;
  top: var(--pos-y);
  left: var(--pos-x);
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--width);
  padding: var(--pad);
  border: solid 1px var(--theme-color);
  border-radius: var(--brr);
  backdrop-filter: blur(var(--int));
  -webkit-backdrop-filter: blur(var(--int));
  box-shadow: inset 0 0 .5vh var(--theme-color);
}
.closed-s-ui {
  display: none;
}
.setting-ui input,
.setting-ui button {
  top: 0;
  left: 0;
  position: relative;
  width: 3.6;
  padding: .5vh;
  background: var(--light-theme-invert-bg-20-color);
  border-radius: calc(var(--brr) - var(--pad));
}
.setting-ui .selected {
  background: var(--theme-color);
}
.setting-ui .selected img {
  filter: invert(100%);
}
.setting-ui input {
  height: 100%;
  width: 3vw;
  margin: 0;
}
.setting-ui input::-webkit-slider-thumb {display: none;}

.side-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  width: 20vw;
  margin-left: 3%;
}

.form, .direct-req-res, .main-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 1em;
  background: transparent;
  backdrop-filter: blur(var(--blur-int));
  -webkit-backdrop-filter: blur(var(--blur-int));
  border: solid 1px var(--theme-color);
  border-radius: 16px;
  box-shadow: inset 0 0 .5vh var(--theme-color);
}

h2,
label,
button {
  text-transform: capitalize;
}

input {
  all: unset;
  margin-bottom: 3vh;
  width: auto;
  color: var(--theme-color);
  outline: none;
  text-overflow: ellipsis;
}
.form input:focus {
  border-right: solid 3px var(--theme-positive-color);
}

.form-actions {
  display: flex;
  flex-direction: row;
  gap: .5em;
}
  
.direct-req-res {
  border: none;
  box-shadow: none;
  background: var(--light-theme-invert-bg-20-color);
  margin-top: 2em;
  overflow: hidden;
}

.direct-req-res h2 {
  margin-bottom: .45vh;
}

.direct-req, .direct-res {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.direct-req {
  margin-bottom: 1em;
}

.direct-res {
  min-height: 12vh;
  position: relative;
}
.direct-res div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.direct-res div:last-child div {
  font-size: .8em;
}

.main-content {
  flex: 1;
  height: 60%;
  margin: 0 3%;
}
