button {
    padding: 0.6em 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: .25s;
    flex: 1;
}

.disabled {
    pointer-events: none;
    filter: var(--disabled-btn-filter);
}

.primary {
    border: 1px solid transparent;
    background-color: var(--theme-color);
    color: var(--theme-light-color-const);
}
.primary:hover {
    background-color: var(--theme-dark-color);
}

.secondary {
    border: 1px solid transparent;
    background-color: var(--light-theme-invert-bg-10-color);
}
.secondary:hover {
    /* border-color: var(--theme-color); */
    background-color: var(--light-theme-invert-bg-20-color);
}
