* {
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;
  --theme-color: #646cff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  height: 100vh;
}

label {
  text-transform: capitalize;
}

input {
  all: unset;
  width: auto;
  padding: 0 .8em;
  color: var(--theme-color);
  outline: none;
}
/* input:focus {
  border: solid 2px var(--theme-color);
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--theme-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
